<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <jmxConfigurator />

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/agathon.0.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <minIndex>1</minIndex>
      <maxIndex>9</maxIndex>
      <fileNamePattern>logs/agathon.%i.log</fileNamePattern>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"/>

    <encoder>
      <!--
      Example log entry using the layout below:
      WARN  2012-05-12 20:43:09,670 com.brighttag.agathon.dao.DAOModule: Log msg line1\nline2\nline3
      -->
      <pattern>%-5level %date{ISO8601} %logger: %replace(%msg){'\n', '\\n'}%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="file"/>
  </root>

</configuration>
